// $blue-theme: ture !default;
$primary: #1e3e71;
$white: #f4f5f8;
$black: #212121;
$gray: #747373;
$dark: #2b2f3e;
$red: #df265e;
$secpadding: 4.375rem;
$regularFont: "Segoe UI Regular";
$boldFont: "Segoe UI Bold";
$search-time: 800ms;
$reset-time: 150ms;
// @if $blue-theme {
// 	$primary: #44aeec;
// 	$darkPrimary: #273990;
// 	$lighterPrimary: #abe0ff;
// }
